<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Nostalgic Thirst
	</title>

	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="/stylesheets/nostalgia.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body class="starry">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-12" style="margin:60px 0px 40px 0px;">
				<img class="img-responsive center-block" src="http://i.picasion.com/gl/79/4nE4.gif" width="616" height="57" border="0" alt="http://gifgifs.com/resizer/" />
				<hr width="75%"></hr>
			</div>
		</div>
		<div class="row" style="margin:0px 0px 30px 0px;">
			<div class="col-xs-3 col-md-3"></div>
			<div class="col-xs-2 col-md-2 text-center">
				<a href="/general?page=1">
					General
					<img class="icon img-responsive" src="images/general/aol.png"></img>
				</a>
			</div>
			<div class="col-xs-2 col-md-2 text-center">
				<a href="/television?page=1">
					Television
					<img class="icon img-responsive" src="images/television/nickelodean.png"></img>
				</a>
			</div>
			<div class="col-xs-2 col-md-2 text-center">
				<a href="/movies?page=1">
					Movies
					<img class="icon img-responsive" src="images/movies/vhs.png"></img>
				</a>
			</div>
			<div class="col-xs-3 col-md-3"></div>
		</div>
		<div class="row" style="margin:30px 0px 0px 0px;">
			<div class="col-xs-3 col-md-3"></div>
			<div class="col-xs-2 col-md-2 text-center">
				<a href="/technology?page=1">
					Technology
					<img class="icon img-responsive" src="images/technology/windows.png"></img>
				</a>
			</div>
			<div class="col-xs-2 col-md-2 text-center">
				<a href="/ads?page=1">
					Advertisements
					<img class="icon img-responsive" src="images/newspaper.png"></img>
				</a>
			</div>
			<div class="col-xs-2 col-md-2 text-center">
				<a href="/games?page=1">
					Video Games
					<img class="icon img-responsive" src="images/games/n64.png"></img>
				</a>
			</div>
			<div class="col-xs-3 col-md-3"></div>
		</div>
	</div>
</body>
<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-12 text-center">
				<hr width="75%"></hr>
				<img class="img-responsive" height="94" width="114" src="images/globe.gif"></img><br>
				<blink>Other great sources of nostalgia inducing fun!</blink> <br>
				<a href="http://www.reddit.com/r/90s">/r/90s</a> <br>
				<a href="http://www.reddit.com/r/90sdesign">/r/90sdesign</a> <br>
				<a href="http://www.reddit.com/r/nostalgia">/r/nostalgia</a> <br>
				<a href="http://my90stv.com/">My 90s TV</a> <br>
				<a href="http://nostalgicthirst.imgur.com/">Nostalgic-Thirst on Imgur</a>
			</div>
		</div>
	</div>
</footer>
</html>